a {
    cursor: pointer;
}

.searchPage__header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}

.searchPage__logo {
    height: 50px;
    margin-right: 50px;
    object-fit: contain;
}

.searchPage__header--body > .search > .search__input {
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.searchPage__options {
    display: flex;
    align-items: center;
    color: gray;
}

.searchPage__options--right,
.searchPage__options--left {
    display: flex;
}

.searchPage__options--right a,
.searchPage__options--left a {
    text-decoration: none;
    color: gray;
}

.searchPage__options--right {
    margin-left: 80px;
}

.searchPage__option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPage__option a {
    margin-left: 4px;
}

.searchPage__option:hover {
    cursor: pointer;
}

.searchPage__results {
    max-width: 650px;
    margin: 20px 0 100px 240px;
}

.searchPage__result--image {
    object-fit: contain;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.searchPage__result {
    margin: 40px 0;
}

.searchPage__result--count {
    color: #70757a;
    font-size: 14px;
}

.searchPage__result--link {
    color: #000;
    text-decoration: none;
}

.searchPage__result--title {
    text-decoration: none;
}

.searchPage__result--title:hover {
    text-decoration: underline;
}

.searchPage__result--title > h2 {
    font-weight: 500;
}

.searchPage__result--snippet {
    margin-top: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
}